@import "../_variables.scss";

.share {
	font-size:.9rem;
	color: $light-gray;
	margin-right:24px;
}

.publish {
	font-size:.9rem;
	color: $green;

}

.publish-down-carat {
	background-color: $green;
	-webkit-mask: url('/images/down-carat.svg') center no-repeat;
	margin-right:24px;
	margin-left:6px;
	margin-bottom:4px;
	width:12px
}

.dot-menu {
	width:24px;
	opacity:.5;
	margin-right:24px;
}

.dot-menu-container {
	border-radius:2px;
	width:180px;
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:$light-gray;
	position: absolute;
	top:70px;
	right:0;
	z-index: 1;
	line-height:12px;
	background-color:#fff;
}

.dot-menu-container h1 {
	font-weight:100;
}

.article-tags {
	border-width:0;
	font-size:.8rem;
}

.connect {
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: $light-gray;
	font-size:1rem;
}

.publish-menu-container {
	border-radius:2px;
	width:320px;
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:$light-gray;
	position: absolute;
	top:70px;
	right:68px;
	z-index: 1;
	line-height:12px;
	background-color:#fff;
	font-size:1rem;	
	padding:12px;
	line-height:18px;
}

.publish-menu-container h1 {
	font-weight:100;
	font-size:1.5rem;
}

.connect {
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: $lightest-gray;
	padding: 12px;
}

.publish-button {
	border-radius: 25px;
	border-style: solid;
	border-color: $green;
	border-width:1px;
	padding: 12px 18px 12px 18px;
	color: $green;
	background-color: #fff;
	margin-top:12px;
	font-size:.8rem;
	text-align:center;
}

.butt-holder {
	width:100%;
	text-align:center;
}