@import "../_variables.scss";


html {
	font-size: 16px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}


p, a, li, button {
	font-family: 'Open Sans' serif;
}

body {
	background-color: #f6f6f6;
}

.white {
	background-color: #fff;
}


@media (max-width: 768px) {
	.write-a-story {
		visibility: hidden;
	}
	.side-bar {
		display:none;
	}

}

@media (max-width:992px) {
	.spacer {
		display:none;
	}
	.side-bar {
		display:none;
	}
}


@media (max-width:1200px) {

	.user-menu-container {
		margin-right:48px;
	}

	.tag-filler {
		display:none;
	}

}

.write-a-story {
	margin-right:24px;
}

.tag-filler {
	background-color: #fff;
	height: 41px;
	z-index:-1;
}

.header-container {
	padding-top:12px;
	float:right;
	background-color: #fff;
	height:70px;
	width:100%;
}

.header-nav-container {
	/*margin-right:24px;*/
	margin-top:8px;
	display: flex;
	align-items: center;
	justify-content:flex-end;
}

.header-nav-buttons {
	width:17px;
	height:17px;
	opacity: .4;
	margin-right:22px;
	position: relative;
}

.profile-picture {
	width: 32px;
	height: 32px;
	border-radius:50%;
}

.header-nav-container a {
	color: $green;
	text-decoration: none;
	font-size:1rem;
}

.header-nav-container a:active {
	color: $green;
	text-decoration: none;
}

.header-nav-container a:hover{
	color: $green;
	text-decoration: none;
}

.header-nav-container a:visited {
	color: $green;
	text-decoration: none;
	font-size:2rem;
}

.logo {
	height:50px;
	padding-right:10px;
}


.tags-container {
	height:42px;
	background-color: #fff;
	border-style:solid;
	border-width: 1px 0 1px 0;
	border-top-color:#f1f1f1 ;
	border-bottom-color:$light-gray ;
	padding-bottom:12px;
	cursor: default;
	user-select:none;

}

.tags-ul {
	color: $light-gray;
	margin-top:15px;
	list-style: none;
	display:flex;
	justify-content: space-between;
	align-self:center;
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
	font-size:.78rem;
	height:32px;
}

.tags-ul::-webkit-scrollbar { width: 0 !important }

.tags-ul li {
	padding-right:12px;
}

.for-you {
	color:$dark-gray;
}


.notifications-container {
	width:320px;
	border-width:1px;
	border-style:solid;
	border-color:$lightest-gray;
	position: absolute;
	top:70px;
	right:0;
	z-index: 2;
	line-height:12px;
	margin-right:48px;
	color: $light-gray;
}

.notification {
	border-style:solid;
	border-color:$light-gray;
	border-width: 0 0 1px 0;
	font-size: .8rem;
	background-color:#fff;
	padding:12px;
}

.notification-profile-pic-container {
	width:45px;
}

.notfication-profile-pic {
	border-radius:50%;
	height:32px;
	width:32px;
	margin:12px;
}

.notification-date {
	margin-top:12px;
	font-size:.6rem;
}

.follower-text {
	width:233px;
	float:right;
	padding-top:13px;
}

.menu-section {
	border-width:0 0 1px 0;
	border-style:solid;
	border-color:$light-gray;
	margin-bottom:12px;
}

.user-menu-container {
	border-radius:2px;
	width:180px;
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:$light-gray;
	position: absolute;
	top:70px;
	right:0;
	z-index: 1;
	line-height:12px;
	background-color:#fff;
}

.user-menu-container ul {
	list-style: none;
	padding-left:24px;
	padding-right:24px;
}

.user-menu-container li {
	padding-top:6px;
	margin-top:18px;
	margin-bottom:12px;
}

.user-menu-container a {
	color:$dark-gray;
	font-size:.8rem;
}

.user-menu-container a:visited {
	color:$dark-gray;
	font-size:.8rem;
}

a {
	color: $dark-gray;
	text-decoration: none;
	font-size:.8rem;
}
a:hover {
	color: $dark-gray;
	text-decoration: none;
}
a:active {
	color: $dark-gray;
	text-decoration: none;
}
a:visited {
	color: $dark-gray;
	text-decoration: none;
}

h1 {
	margin-top:12px;
	color: $dark-gray;
	font-size:1.7rem;
	font-weight:700;
	margin-bottom:16px;
}


.no-moving-for-you {
	position:fixed;
	top:0;
	z-index:1;
}

.search {
	border-style:none;
	margin-right:12px;
}

.share {
	font-size:.9rem;
	color: $light-gray;
	margin-right:24px;
}

.publish {
	font-size:.9rem;
	color: $green;

}

.publish-down-carat {
	background-color: $green;
	-webkit-mask: url('/images/down-carat.svg') center no-repeat;
	margin-right:24px;
	margin-left:6px;
	margin-bottom:4px;
	width:12px
}

.dot-menu {
	width:24px;
	opacity:.5;
	margin-right:24px;
}