
.author-bio a  {
 color:#00AB6C !important;
}

.author-bio a:hover {
	color:#00AB6C !important;
}

.author-bio a:active {
	color:#00AB6C !important;
}

.author-bio a:visited {
	color:#00AB6C !important;
}

.author-bio-pic {
	width:50px;
	margin:0;
}

.favorite-unclicked {
	width:24px;
	height:24px;
	background-image: url('/images/favorite-unclicked.svg');
	background-size: 24px 24px;
	position:relative;
}

.favorite-clicked {
	width:24px;
	height:24px;
	background-image: url('/images/favorite-clicked.svg');
	background-size: 24px 24px;
	position:relative;
}

.favorite-text {
	position: absolute;
	top:6px;
	left:32px;
}

.story-container {
	background-color: #fff;
	border-radius:3px;
	border-style:solid;
	border-width:1px;
	border-color:#f1f1f1;
	margin-top:36px;
	font-size: .7rem;
	color:#bdbdbd ;
	line-height:14px;
	padding-right:18px;
	padding-left:18px;
}

.article-tags {
	padding:12px;
}

.tag {
	font-size:.7rem;
	color:#bdbdbd;
	display:inline-block;
}

.tag:before {
	content: "[tag]";	
}

.author-profile-picture {
	border-radius:50%;
	width:32px;
	height:32px;
	vertical-align: middle;

}

.article-footer {
	width:100%;
	display:flex;
	justify-content:space-between;
}

.article-footer-left {
	font-size:.9rem;
	text-align:left;
	font-weight:100;
	padding-bottom:24px;
	padding-top:12px;
	
}

.article-footer-right {
	font-size:.9rem;
	font-weight:100;
	width:40%;
	display:flex;
	align-items:center;
	justify-content: flex-end;
}

.read-more {
	font-size:.7rem;
	color:#bdbdbd;
	margin-bottom:12px;
}

.story-container a {
	color:#000;
}
.story-container a:active {
	color:#000;
}
.story-container a:hover {
	color:#000;
}
.story-container a:visited {
	color:#000;
}

.response-unclicked {
	margin-left:12px;
	margin-right:12px;
	width: 24px;
	height:24px;
	opacity:.5;
	background-image: url('/images/bookmark-unclicked.svg');
	background-size: 24px 24px;
}

.response-clicked {
	margin-left:12px;
	margin-right:12px;
	width: 24px;
	height:24px;
	opacity:.5;
	background-image: url('/images/bookmark-clicked.svg');
	background-size: 24px 24px;
}


.down-carat {
	opacity:.5;
	width:24px;
	height:24px;
}