@import "_variables.scss";

body {
	background: #fff !important;
}

.stories-header {
	margin-top: 3rem
}

.stories-header h1 {
	font-size: 3rem;
	font-weight:900;
}

.stories-header button {
	border-radius: 50px;
	border-style: solid;
	border-color: $green;
	border-width:1px;
	padding: 12px 18px 12px 18px;
	color: $green;
	background-color: #fff;
	margin-top:12px;
	font-size:1rem;
}

.buttons {
	text-align:right;
}

button {
	margin-right: 12px;
}