@import "_variables.scss";

body {
	background: #fff !important;
	-webkit-backface-visibility: hidden;
}

.stories-header {
	margin-top: 5rem
}

.stories-header h1 {
	font-size: 3rem;
	font-weight:900;
}

.stories-header button {
	border-radius: 50px;
	border-style: solid;
	border-color: $green;
	border-width:1px;
	padding: 12px 18px 12px 18px;
	color: $green;
	background-color: #fff;
	margin-top:12px;
	font-size:1rem;
}

.buttons {
	text-align:right;
}

button {
	margin-right: 12px;
}

.drafts {
	margin-top: 2rem;
}

.drafts-menu-active {
	border-style: solid;
	border-width: 1px 0 0 0;
	padding: 24px 0 24px 0;
	border-color: $dark-gray;
	color: $dark-gray;
	text-align:center;	
}

.drafts-menu{
	@extend .drafts-menu-active;
	border-color: $light-gray;
	color: $light-gray;
}


.emph {
	font-weight: 600;
}

.drafts-list h2 {
	font-size: 1.3rem;
	font-weight: bolder;
	color: $dark-gray;
	margin-bottom: 1.5rem;
	margin-top: 2rem;
	border-style: none;
}

.drafts-list {
	font-size: 1rem;
	color: $light-gray;
	border-style: solid;
	border-color: $light-gray;
	border-width: 0 0 1px 0;
	padding-bottom: 24px;
	position: relative;
}

.down-arrow {
	width: 15px;
	height: 15px;
	opacity: .5;
	margin-top: 3px;
}

.edit-menu {
	width:120px;
	border-width:1px;
	border-style:solid;
	border-color:$lightest-gray;
	z-index: 2;
	margin-right:48px;
	color: $light-gray;
	border-radius:3px;
	padding:12px;
	background-color: #fff;
	position: absolute;
	top: 71px;
    left: 255px;
    box-shadow: 1px 1px 1px $light-gray;
    display: unset;
}

.edit-menu a {
	font-size:.9rem;
	color: $dark-gray;
}
.edit-menu a:active {
	font-size:.9rem;
	color: $dark-gray;
}
.edit-menu a:visited {
	font-size:.9rem;
	color: $dark-gray;
}
.edit-menu a:hover {
	font-size:.9rem;
	color: $dark-gray;
}

.edit-menu ul {
	list-style:none;
}

.edit-menu li {
	padding-top:8px;
	padding-bottom:8px;
}

.menu-container {

}