<body>
<header-menu></header-menu>

{{data}}

<!-- BODY -->
<div class="row">
  <div class="col-sm-12 col-md-12">
    
  <div class="col-sm-1 col-md-1"></div>
	<div class="col-sm-10 col-md-10">
	<content>
<div class="row">
<div class="stories-header">
	<div class="col-sm-5">
		<h1>Your Stories</h1>
	</div>
	<div class="col-sm-7 buttons">
		<button>Import a story</button>
		<button ui-sref="new-story">Write a story</button>
	</div>
</div>
</div>

<div class="row">
<div class="drafts">
	<div class="drafts-menu-active col-sm-2"><span class="emph">Drafts</span> {{numDrafts}}</div>
	<div class="drafts-menu col-sm-2">Public 1</div>
	<div class="col-sm-8 drafts-menu">&nbsp;</div>
</div>
</div>

<div class="row">
	<div class="drafts-list" ng-repeat="draft in drafts">
		<span ng-repeat="draft in draft">
		<a href="#"><h2>{{draft.title}}</h2> </a>
		Last edited {{draft.date | date : 'MMM dd' }}. &#8226; {{draft.numWords}} words so far
		&nbsp;&nbsp;<img src="images/down-carat.svg" ng-click="editMenu = !editMenu" class="down-arrow">
			<div class="edit-menu" ng-hide="editMenu">
				<span class="menu-container">
				<ul>
					<li><a ui-sref="edit-story({article_id: draft.article_id})">Edit Draft</a></li>
					<li><a ui-sref="drafts" data-ui-sref-opts="{reload:true}" ng-click="deleteDraft(draft.article_id)">Delete Draft</a></li>
				</ul>
				</span>
			</div>
		</span>
	</div>

<!-- <uib-tabset active="activeJustified" justified="false">
	<uib-tab index="0" heading="Drafts">Justified content</uib-tab>
	<uib-tab index="1" heading="Public">Short Labeled Justified content</uib-tab>
</uib-tabset> -->


</div>

	</content>
	</div>






<div class="col-sm-1 col-md-1"></div>






</div>
<!-- End Side Menu-->
</div>


<!-- END BODY -->
