

<div class="side-bar">
	<div class="side-bar-header">
		<p class="side-bar-header-title">Top stories</p>
		<p class="side-bar-header-subtitle">Most popular today.</p>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">The End of the Death Row Last Meal?</a><br>
		Molly McHugh</div>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">The End of the Death Row Last Meal?</a><br>
		Molly McHugh</div>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">What do Uber, Volkswagon, and Zenefits all have in common? They all used hidden code to break the law.</a><br>
		Eric Sanderson</div>
	</div>

	<div class="side-bar-header">
		<p class="side-bar-header-subtitle">Tags you follow</p>
	</div>
	<div class="side-bar-tags">
		<div class="followed-tag">Artificial Intelligence</div>
		<div class="followed-tag">Business</div>
		<div class="followed-tag">Climate Change</div>
		<div class="followed-tag">Coding</div>
		<div class="followed-tag">Design</div>
		<div class="followed-tag">Future of Food</div>
		<div class="followed-tag">Artificial Intelligence</div>
		<div class="followed-tag">Business</div>
		<div class="followed-tag">Climate Change</div>
		<div class="followed-tag">Coding</div>
		<div class="followed-tag">Design</div>
		<div class="followed-tag">Future of Food</div>
	</div>
</div>
