<body>
<header-menu></header-menu>

{{data}}

<!-- BODY -->
<div class="row">
  <div class="col-sm-12 col-md-12">
    
  <div class="col-sm-1 col-md-1"></div>
	<div class="col-sm-10 col-md-10">
	<content>
<div class="row">
<div class="stories-header">
	<div class="col-sm-5">
		<h1>Your Stories</h1>
	</div>
	<div class="col-sm-7 buttons">
		<button>Import a story</button>
		<button ui-sref="new-story">Write a story</button>
	</div>
</div>
</div>

<div class="row">
<div class="drafts">
	<div class="drafts-menu col-sm-2"><a ui-sref="drafts">Drafts {{numDrafts}}</a></div>
	<div class="drafts-menu-active col-sm-2"><span class="emph">Public {{numArticles}}</span></div>
	<div class="col-sm-8 drafts-menu">&nbsp;</div>
</div>
</div>

<div class="row">
	<div class="drafts-list" ng-repeat="article in published">
		<!-- <span ng-repeat="draft in draft"> -->
		<a ui-sref="article({article_id: article.id})"><h2>{{article.title}}</h2> </a>
		Last edited {{article.date_published | date : 'MMM dd' }}.
		&nbsp;&nbsp;<img src="images/down-carat.svg" ng-click="editMenu = !editMenu" class="down-arrow">
			<div class="edit-menu" ng-hide="editMenu">
				<span class="menu-container">
				<ul>
					<li><a ui-sref="edit-story({article_id: article.article_id})">Edit Article</a></li>
					<li><a ui-sref="drafts" data-ui-sref-opts="{reload:true}" ng-click="deleteDraft(article.article_id)">Delete Article</a></li>
				</ul>
				</span>
			</div>
		<!-- </span> -->
	</div>
</div>

	</content>
	</div>






<div class="col-sm-1 col-md-1"></div>


</div>
<!-- End Side Menu-->
</div>


<!-- END BODY -->
