<!DOCTYPE html>
<html ng-app="appName">
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">
   <link rel="stylesheet" href="style.css">

<ui-view>

<title>New Story - Medium - Personal Project</title>
</head>


<body>
<header-menu-for-writing></header-menu-for-writing>


<!-- BODY -->
<div class="row">
  <div class="col-sm-12 col-md-12">
    
  <div class="col-sm-1 col-md-2"></div> <!-- padding -->
	<div class="col-sm-10 col-md-8">


<ng-quill-editor ng-model="title" class="editor" id="editor" on-content-changed="contentChanged(editor, html, text)">
    <ng-quill-toolbar class="toolbar">
        <div>
            <ul class="tools ql-formats" id='tools'>
                <li><button class="ql-bold" ng-attr-title="{{'Bold'}}"></button></li>
                <li><button class="ql-italic" ng-attr-title="{{'Italic'}}"></button></li>
                <li><button class="ql-link" ng-attr-title="{{'Link'}}">{{stuff}}</button></li>
            </ul>
<!--        <span class="ql-formats">
                <button class="ql-header" value="1" ng-attr-title="{{'H1'}}">H1</button>
                <button class="ql-header" value="2" ng-attr-title="{{'H2'}}">H2</button>
            </span>
            <span class="ql-formats">
                <button class="ql-blockquote" ng-attr-title="{{'Quote1'}}">Q1</button>
                <button class="ql-code-block" ng-attr-title="{{'Quote2'}}">Q2</button>
            </span>
            <span class="ql-formats">
                <select class="ql-align" ng-attr-title="{{'Aligment'}}">
                    <option selected></option>
                    <option value="center"></option>
                    <option value="right"></option>
                    <option value="justify"></option>
                </select>
            </span> -->
        </div>
    </ng-quill-toolbar>

</ng-quill-editor>

{{blah}}
  </div>
  <div class="col-sm-1 col-md-2"></div> <!-- padding -->

</div>
<!-- End Side Menu-->
</div>
<!-- END BODY -->
<div id="text-holder"></div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>


<script src="/script/app.js"></script>

<script src="/script/controllers/draftCtrl.js"></script>
<script src="/script/controllers/homeCtrl.js"></script>


<script src="/script/directives/headerDirectives.js"></script>
 

<script src="/script/services/articleSvc.js"></script>
<script src="/script/services/headerSvc.js"></script>
<script src="/script/services/homeSvc.js"></script>
<script src="/script/services/userSvc.js"></script>
<script src="/script/services/draftSvc.js"></script>



</ui-view>
</body>
</html>