<!DOCTYPE html>
<html ng-app="appName">
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="style.css">

<ui-view>

<title>New Story - Medium - Personal Project</title>
</head>


<body>

<header-menu-for-writing></header-menu-for-writing>

<!-- BODY -->
<div class="row">
  <div class="col-sm-12 col-md-12">
    
  <div class="col-sm-1 col-md-2"></div> <!-- padding -->
	<div class="col-sm-10 col-md-8">


    <!-- <text-editor></text-editor> -->


  </div>
  <div class="col-sm-1 col-md-2"></div> <!-- padding -->

</div>
<!-- End Side Menu-->
</div>
<!-- END BODY -->


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="../script.js"></script>
</ui-view>
</body>
</html>