<body>
<header-menu></header-menu>



<div class="row">
<div class="col-sm-12 col-md-12">



  <!-- spacer -->  
<div class="col-sm-1 col-md-1"></div>




<div class="col-sm-10 col-md-10">

<div class="col-sm-12 author">
	<div class="author-pic"><img src="../images/user3.jpeg"/></div>
	<div class="author-info">
		<ul>
			<li class="author-name">Carmen Reinicke</li>
			<li>Financial Services Consultant by day, writer by night.
			<li>Mar 16 5 min read</li>
		</ul>
	</div>
</div>

<div class="col-sm-12 article">
	<h1>Can Women Truly Be Casual at the Office?</h1>

	<p>It is no secret that a growing trend in businesses everywhere, large and small, is to cultivate a workplace environment that is cool, trendy, cutting-edge, hip even. From the burgeoning start-up world that boasts offices that are similar to compounds and CEOs in t-shirts to the corporate world, where even blue-blooded companies like IBM are casting off the three-piece suits of the past in favor of blazers and denim, companies everywhere are changing their look.</p>
	<p>On the surface, the trend towards business-casual and even “just casual” work attire looks comfortable. Starched collars, vests, and ties are things of the past. But with new rules comes new problems, and one that is seemingly glaring is the difference in how this new clothing trend caters to employees. Although these changes in look seem forward looking and positive, they still cater overwhelmingly to men.</p>
	<p>It is also no secret that the business world is male-dominated. It always has been, and only in recent years and decades has any sort of attempt been made to even the playing field for all genders. One does not have to look far or wide, however, to see that women are still struggling to find equal footing in industries where men are in charge. Women make up less than 4% of top leadership positions in Fortune-500 companies, and that number is declining. Great.</p>
	<div class="article-tags-container">
		<span class="article-tag">Fashion</span>
		<span class="article-tag">Women In Tech</span>
		<span class="article-tag">Tech</span>
	</div>
	<div class="article-response">
		<ul class="article-response-left col-sm-6">
			<li><div class="favorite-unclicked" ng-class="{'favorite-clicked':article.userLikedArticle}" ng-click="likeArticle(article.id)"><div class="article-favorites-number">104</div></div></li>
			<li><div class="response-unclicked" ng-class="{'response-clicked':article.userResponded}" ng-click="makeResponse(article.id)"><div class="article-responses-number">10</div></di></li>
		</ul>
		<ul class="article-response-right col-sm-6">
			<li><img src="/images/twitter.svg" class="article-twitter-response"></li>
			<li><img src="/images/facebook.svg" class="article-facebook-response"></li>
			<li><img src="/images/bookmark-unclicked.svg" class="bookmark-article-response" ng-class="{'bookmark-clicked':article.userBookmarkedArticle}" ng-click="bookmarkArticle(article.id)">&nbsp;</li>
			<li><img src="/images/three-dots.svg" class="article-three-dots"/></li>
		</ul>		
		</div>
		<div class="col-sm-12 author">
	<div class="author-pic"><img src="../images/user3.jpeg"/></div>
		<div class="author-info col-sm-8">
		<ul>
			<li class="author-name">Carmen Reinicke</li>
			<li>Financial Services Consultant by day, writer by night</li>
		</ul>
		</div>
		<div class="col-sm-4"><button class="writer-follow-button">Follow</button></div>
	</div>
</div>

<!--spacer-->   
<div class="col-sm-1 col-md-1"></div>

</div>
</div>

<!-- mini article suggestion -->
<div class="row">
<div class="suggestions col-sm-12">
<div class="mini-holder col-sm-3">
	<img src="/images/mini-holder-header.png" class="mini-holder-header">
	<div class="mini-holder-body"><h1>Civil Air Patrol is The Hot New Fashion in Japan</h1></div>
	<div class="mini-holder-footer">
		<img src="/images/user5.jpeg" class="mini-holder-profile-pic" />
		<div class="mini-holder-text">
			<span class="mini-holder-name">Erin Heiser</span><br>
			<span class="mini-holder-info">10 min read</span>
		</div>
		<ul class="mini-holder-actions">
			<li><div class="favorite-unclicked" ng-class="{'favorite-clicked':article.userLikedArticle}" ng-click="likeArticle(article.id)"><div class="article-favorites-number">104</div></div></li>
			<li><img src="/images/bookmark-unclicked.svg" class="bookmark-article-response" ng-class="{'bookmark-clicked':article.userBookmarkedArticle}" ng-click="bookmarkArticle(article.id)">&nbsp;</li>
		</ul>
	</div>
</div>
</div>
</div>
<!-- mini article suggestions -->

<!-- BEGIN MAKE RESPONSE -->
<div class="row light-gray">
<div class="col-sm-1 col-md-2"></div>
<div class="col-sm-10 col-md-8">


<div class="response"><p>Response</p>
<div class="make-response">
<img src="/images/user5.jpeg" class="response-profile-pic" />


<div class="response-footer">
<button class="writer-follow-button">Publish</button>
</div>
</div>
</div>


<div class="col-sm-1 col-md-2"></div>
<!-- END MAKE RESPONSE -->



<!-- COMMENT DIRECTIVE -->
<div class="row light-gray comment-body">

<div class="col-sm-12 col-md-12">

<div class="response-container">
	<div class="response-author-container">
		<div class="response-author-pic"><img src="../images/user3.jpeg"/></div>
		<div class="response-author-info">
			<ul>
				<li class="response-author-name">Carmen Reinicke</li>
				<li>Financial Services Consultant by day, writer by night.
				<li>Mar 16 5 min read</li>
			</ul>
		</div>
	</div>
	<div class="response-body">
		<p>This right on the nose, and something I’ve noticed and thought about. I work at a small tech company with a casual dress code. We have zero female c-level execs and the environment is very much that of a boy’s club. There is an unspoken rule that women shouldn’t wear the hoodies and tees like the men do because we appear unkempt and unprofessional. I think this topic of casual wear in the office is a very tangible example of the deeply rooted gender biases in business. We’ve come very far, yet we have so far to go.</p>
	</div>
	<div class="response-footer">
		
			<div class="favorite-unclicked" ng-class="{'favorite-clicked':article.userLikedArticle}" ng-click="likeArticle(article.id)"><div class="article-favorites-number">104</div></div>
		<div class="response-bookmark">
			<img src="/images/bookmark-unclicked.svg" class="bookmark-article-response" ng-class="{'bookmark-clicked':article.userBookmarkedArticle}" ng-click="bookmarkArticle(article.id)">&nbsp;
		</div>
	</div>
</div>
</div>
</div>
<!-- END COMMENT DIRECTIVE -->


<!-- SHOW RESPONSES -->
<div class="row">
<div class="col-sm-12 col-md-12">
	<div class="show-responses">
		<a href="#">Show all responses</a>
	</div>
</div>
</div>

