<link rel="stylesheet" href="/style/directives/header.css" />

<body>

<div class="row">

<div class="container-fluid">
<div class="header-container">

<div class="row white">
	<div class="col-sm-1 col-md-1 spacer">&nbsp;</div>
	<div class="col-xs-4 col-sm-4 col-md-3 logo">
	<a ui-sref="home">
	<img src="/images/logo.png" class="logo">
	</a>
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 header-nav-container">
	<a href="#" class="write-a-story">Write a story</a>
		<img src="/images/search.svg" class="header-nav-buttons">
		<img src="/images/notification.svg" class="header-nav-buttons" ng-click="notificationsMenu = !notificationsMenu">
		<img src="/images/profile.png" class="profile-picture" ng-click="userMenu = !userMenu">
	</div>
</div>
</div>


<div class="tagholder"  make-tags-sticky>
<div class="row white">
	<div class="col-sm-1 col-md-1"></div>
	<div class="col-xs-12 col-sm-11 col-md-10 tags-container">
	<ul class="tags-ul">
		<li><span class="for-you">For you</span></li>
		<li>Top stories</li>
		<li>Editor's Picks</li>
		<li>Politics</li>
		<li>Technology</li>
		<li>Humans</li>
		<li>Culture</li>
		<li>Business</li>
		<li>Black history</li>
		<li>Bookmarks</li>
	</ul>
	</div>
</div>
</div>


<notifications>
<div class="notifications-container" ng-hide="notificationsMenu">
	<div class="notification" ng-repeat="notification in notifications">
		<span class="notification-profile-pic-container">
		<img src="/images/profile.png" class="notfication-profile-pic"></span>
		<span class="follower-text">
		{{notification.notification_id}}
		Member number {{notification.action_by_userid}}	did action {{notification.action}} on 
		{{notification.action_on}}
		<br>
		<span class="notification-date">{{notification_date}}</span>
		</span>
	</div>
</div>
</notifications>


<usermenu>
<div class="user-menu-container" ng-hide="userMenu">
	<div class="menu-section">
		<ul>
			<li><a href="#">New story</li>
			<li><a href="#">Stories</li>
			<li><a href="#">Series</li>
			<li><a href="#">Stats</li>
		</ul>
	</div>
	<div class="menu-section">
		<ul>
			<li><a href="#">Bookmarks</li>
			<li><a href="#">Reading history</li>
			<li><a href="#">Publications</li>
			<li><a href="#">Follow your interests</li>
		</ul>
	</div>
	<div class="menu-section">
		<ul>
			<li><a href="#">Profile</li>
			<li><a href="#">Settings</li>
			<li><a href="#">Help</li>
			<li><a href="#">Sign out</li>
		</ul>
	</div>
</div>
</usermenu>
