<body>

<div class="row">

<div class="container-fluid">
<div class="header-container">

<div class="row white">
	<div class="col-sm-1 col-md-1 spacer">&nbsp;</div>
	<div class="col-xs-4 col-sm-4 col-md-3 logo">
	<a ui-sref="home">
	<img src="/images/logo.png" class="logo">
	</a>
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 header-nav-container">
		<span class="share">{{savedMessage}}</span>
		<span class="publish" ng-click="publishMenu = !publishMenu">Publish</span>
		<span class="publish-down-carat">&nbsp;</span>
		
		<div ng-click="dotMenu = !dotMenu"><img src="/images/dot-menu.svg" class="dot-menu"></div>
		<div ng-click="notificationsMenu = !notificationsMenu"> <img src="/images/notification.svg" class="header-nav-buttons"
		/></div>
		<div ng-click="userMenu = !userMenu"><img src="/images/profile.png" class="profile-picture"></div>
	</div>
</div>
</div>


<publish-menu>
<div class="publish-menu-container" ng-hide="publishMenu">
<h1>Ready to publish?</h1>
Add or change tags (up to 5) so your story reaches more people: <br>

<div class="article-tags-container">
<tags-input ng-model="tags" display-property="text" add-on-paste="true" class="tag-list" add-tag>
	<!-- <auto-complete source="loadTags($query)"></auto-complete> -->
</tags-input>
</div>

<div class="butt-holder">
	<button class="publish-button" ng-click="publish(publish_id)">  Publish  </button>
</div>
</div>
</publish-menu>


<dot-menu>
<div class="dot-menu-container" ng-hide="dotMenu">
	Actions
	<ul class="dot-menu-container-section">
		<li><a href="#">Add to publication</a></li>
		<li><a href="#">Revision history</a></li>
		<li><a href="#">Delete story</a></li>
	</ul>
	<hr>
	<ul class="dot-menu-container-section">
		<li><a href="#">Customize title/subtitle</a></li>
		<li><a href="#">Customize link</a></li>
	</ul>
	<hr>
	Help
	<ul class="dot-menu-container-section">
		<li><a href="#">Hits and keyboard shortcuts</a></li>
		<li><a href="#">More help</a></li>
	</ul>
</div>	
</dot-menu>

<notifications>
<div class="notifications-container" ng-hide="notificationsMenu">
	<div class="notification" ng-repeat="notification in notifications">
		<span class="notification-profile-pic-container">
		<img ng-src="{{notification.profile_pic}}" class="notfication-profile-pic"></span>
		<span class="follower-text">
		<!--{{notification.action_by_userid}} -->
		<a href="#">{{notification.firstname}} {{notification.lastname}}</a> {{notification.action}} 
		<a href="#">{{notification.title}}</a>
		<br>
		<span class="notification-date">{{notification.date | date : 'MMM dd'}}</span>
		</span>
	</div>
</div>
</notifications>


<bookmarks>
</bookmarks>

<usermenu>
<div class="user-menu-container" ng-hide="userMenu">
	<div class="menu-section">
		<ul>
			<li><a href="#">New story</li>
			<li><a ui-sref="drafts">Stories</li>
			<li><a href="#">Series</li>
			<li><a href="#">Stats</li>
		</ul>
	</div>
	<div class="menu-section">
		<ul>
			<li><a href="#">Bookmarks</li>
			<li><a href="#">Reading history</li>
			<li><a href="#">Publications</li>
			<li><a href="#">Follow your interests</li>
		</ul>
	</div>
	<div class="menu-section">
		<ul>
			<li><a href="#">Profile</li>
			<li><a href="#">Settings</li>
			<li><a href="#">Help</li>
			<li><a href="#">Sign out</li>
		</ul>
	</div>
</div>
</usermenu>
