
<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style/directives/header.css" />

<body>

<div class="row">

<div class="container-fluid">
<div class="header-container">

<div class="row white">
	<div class="col-sm-1 col-md-1 spacer">&nbsp;</div>
	<div class="col-xs-4 col-sm-6 col-md-3 logo">
	<a ui-sref="home">
	<img src="/images/directive-header/logo.png" class="logo">
	</a>
	</div>
	<div class="col-xs-7 col-sm-4 col-md-7 header-nav-container">
	<a href="#" class="write-a-story">Write a story</a>
		<img src="/images/directive-header/search.svg" class="header-nav-buttons">
		<img src="/images/directive-header/notification.svg" class="header-nav-buttons" id="notifications">
		<img src="/images/directive-header/profile.png" class="profile-picture">
	</div>
</div>
</div>
<div class="row white">
	<div class="col-sm-1 col-md-1"></div>
	<div class="col-xs-12 col-sm-11 col-md-10 tags-container">
	<ul class="tags-ul">
		<li><span class="for-you">For you</span></li>
		<li>Top stories</li>
		<li>Editor's Picks</li>
		<li>Politics</li>
		<li>Technology</li>
		<li>Humans</li>
		<li>Culture</li>
		<li>Business</li>
		<li>Black history</li>
		<li>Bookmarks</li>
	</ul>
	</div>


</div>


<notifications>
<div class="notifications-container">
	<div class="notification">
		<span class="notification-profile-pic-container">
		<img src="/images/directive-header/profile.png" class="notfication-profile-pic"></span>
		<span class="follower-text">
		<a href="#">Ryan Zulham Ramadhani</a> started following you.<br>
		<span class="notification-date">Jan 4</span>
		</span>
	</div>
	<div class="notification">
		<span class="notification-profile-pic-container">
		<img src="/images/directive-header/profile.png" class="notfication-profile-pic"></span>
		<span class="follower-text">
		<a href="#">Ryan Zulham Ramadhani</a> started following you.<br>
		<span class="notification-date">Jan 4</span>
		</span>
	</div>
	<div class="notification">
		<span class="notification-profile-pic-container">
		<img src="/images/directive-header/profile.png" class="notfication-profile-pic"></span>
		<span class="follower-text">
		<a href="#">Ryan Zulham Ramadhani</a> started following you.<br>
		<span class="notification-date">Jan 4</span>
		</span>
	</div>
</div>
</notifications>


<usermenu>
<div class="user-menu-container">
	<div class="menu-section">
		<ul>
			<li><a href="#">New story</li>
			<li><a href="#">Stories</li>
			<li><a href="#">Series</li>
			<li><a href="#">Stats</li>
		</ul>
	</div>
	<div class="menu-section">
		<ul>
			<li><a href="#">Bookmarks</li>
			<li><a href="#">Reading history</li>
			<li><a href="#">Publications</li>
			<li><a href="#">Follow your interests</li>
		</ul>
	</div>
	<div class="menu-section">
		<ul>
			<li><a href="#">Profile</li>
			<li><a href="#">Settings</li>
			<li><a href="#">Help</li>
			<li><a href="#">Sign out</li>
		</ul>
	</div>
</div>
</usermenu>

<div class="row">
  <div class="col-sm-12 col-md-12">
    
  
    <div class="col-sm-1 col-md-1"></div>
	<div class="col-sm-10 col-md-7">
    <div class="story-container">
	<div class="col-xs-12 article-tags"><p class="tag">User Experience</p></div>

	<!--Author Mini-Bio -->
	<div class="row">
	<div class="col-xs-1">
		<img src="/images/directive-header/profile.png" class="author-profile-picture">
	</div>
	<div class="col-xs-10">
		<a href="#">Quincy Larson</a> in <a href="#">Free Code Camp</a>
		<br>
		Feb 20 &#183; 2 min read
	</div>
	</div>
	<!-- End Author Mini Bio -->

	<!--Article Info -->
	<h1>I'll never bring my phone on an international flight again. Neither should you.</h1>
	<img src="/images/directive-header/first_article.jpeg" class="img-responsive">
	<br><br>
	<p class="read-more">Read more...</p>

	<div class="article-footer">
	<div class="article-footer-left">
		<img src="/images/directive-header/favorite.svg" class="favorite"> 8.5k</div>
	<div class="article-footer-right">428 responses[icon]</div>
	</div>
	</div>
	<!-- End Article Info -->
	


<!-- Writers You Might Like -->
<div class="writer-suggestions">
<div class="might-like">Writers you might like</div>
<div class="writers-list">
	<div class="writer">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/directive-header/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<button class="writer-follow-button">Follow</button>
	</div>
	<div class="writer">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/directive-header/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<button class="writer-follow-button">Follow</button>
	</div>
	<div class="writer">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/directive-header/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<button class="writer-follow-button">Follow</button>
	</div>
</div>
</div>
<!--End WRiters You Might Like -->

	</div>



<!--Side Menu -->   
<div class="col-md-3">
<div class="side-bar">
	<div class="side-bar-header">
		<p class="side-bar-header-title">Top stories</p>
		<p class="side-bar-header-subtitle">Most popular today.</p>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">The End of the Death Row Last Meal?</a><br>
		Molly McHugh</div>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">The End of the Death Row Last Meal?</a><br>
		Molly McHugh</div>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">What do Uber, Volkswagon, and Zenefits all have in common? They all used hidden code to break the law.</a><br>
		Eric Sanderson</div>
	</div>

	<div class="side-bar-header">
		<p class="side-bar-header-subtitle">Tags you follow</p>
	</div>
	<div class="side-bar-tags">
		<div class="followed-tag">Artificial Intelligence</div>
		<div class="followed-tag">Business</div>
		<div class="followed-tag">Climate Change</div>
		<div class="followed-tag">Coding</div>
		<div class="followed-tag">Design</div>
		<div class="followed-tag">Future of Food</div>
		<div class="followed-tag">Artificial Intelligence</div>
		<div class="followed-tag">Business</div>
		<div class="followed-tag">Climate Change</div>
		<div class="followed-tag">Coding</div>
		<div class="followed-tag">Design</div>
		<div class="followed-tag">Future of Food</div>
	</div>
</div>
</div>
<!-- End Side Menu-->
</div>
</div>




<script>
/*
<div class="row">
<div class="col-sm-1 col-md-1">&nbsp;</div>
<div class="col-xs-12 col-sm-10 col-md-7 story-container">
		<div class="col-xs-12 article-tags"><p class="tag">User Experience</p></div>
	
	<!--Author Mini-Bio -->
	<div class="row">
	<div class="col-xs-1">
		<img src="/images/directive-header/profile.png" class="author-profile-picture">
	</div>
	<div class="col-xs-10">
		<a href="#">Quincy Larson</a> in <a href="#">Free Code Camp</a>
		<br>
		Feb 20 &#183; 2 min read
	</div>
	</div>
	<!-- End Author Mini Bio -->

	<div class="col-xs-12">
		<h1>I'll never bring my phone on an international flight again. Neither should you.</h1>
		<img src="/images/directive-header/first_article.jpeg" class="img-responsive">
		<br><br>
		<p class="read-more">Read more...</p>
	</div>
	<div class="col-xs-5 article-footer-left">
		<img src="/images/directive-header/favorite.svg" class="favorite"> 8.5k</div>
	<div class="col-xs-7 article-footer-right">428 responses[icon]</div>
</div>
<div class="col-sm-1"></div>



<!-- Top Stories, Editorial Picks, User Tags -->
<div class="col-md-4">
<div class="side-bar">
	<div class="side-bar-header">
		<p class="side-bar-header-title">Top stories</p>
		<p class="side-bar-header-subtitle">Most popular today.</p>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">The End of the Death Row Last Meal?</a><br>
		Molly McHugh</div>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">The End of the Death Row Last Meal?</a><br>
		Molly McHugh</div>
	</div>
	<div class="side-bar-body">
		<div class="side-bar-profile"><img src="/images/directive-header/profile.png" class="side-bar-profile-pic"></div>
		<div class="side-bar-links">
		<a href="#">What do Uber, Volkswagon, and Zenefits all have in common? They all used hidden code to break the law.</a><br>
		Eric Sanderson</div>
	</div>

	<div class="side-bar-header">
		<p class="side-bar-header-subtitle">Tags you follow</p>
	</div>
	<div class="side-bar-tags">
		<div class="followed-tag">Artificial Intelligence</div>
		<div class="followed-tag">Business</div>
		<div class="followed-tag">Climate Change</div>
		<div class="followed-tag">Coding</div>
		<div class="followed-tag">Design</div>
		<div class="followed-tag">Future of Food</div>
		<div class="followed-tag">Artificial Intelligence</div>
		<div class="followed-tag">Business</div>
		<div class="followed-tag">Climate Change</div>
		<div class="followed-tag">Coding</div>
		<div class="followed-tag">Design</div>
		<div class="followed-tag">Future of Food</div>
	</div>
</div>
</div>
<!-- End Top Stories/User Tags -->

</div>

<!-- Writers You Might Like -->
<div class="writer-suggestions">
<div class="might-like">Writers you might like</div>
<div class="writers-list pre-scrollable">
	<div class="writer">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/directive-header/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<button class="writer-follow-button">Follow</button>
	</div>
	<div class="writer">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/directive-header/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<button class="writer-follow-button">Follow</button>
	</div>
	<div class="writer">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/directive-header/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<button class="writer-follow-button">Follow</button>
	</div>
</div>
</div>
*/
</script>


</div>
</div>
</body>
</html>

