

<body>

<div class="row">

<div class="container-fluid">
<div class="header-container">

<div class="row white">
	<div class="col-sm-1 col-md-1 spacer">&nbsp;</div>
	<div class="col-xs-4 col-sm-4 col-md-3 logo">
	<a ui-sref="home">
	<img src="/images/logo.png" class="logo">
	</a>
	</div>
	<div class="col-xs-7 col-sm-7 col-md-7 header-nav-container">
	<a ui-sref="new-story" class="write-a-story">Write a story</a>
		<img src="/images/search.svg" class="header-nav-buttons" ng-click="search = !search">
		<input type="text" class="search" placeholder="Search Medium" ng-hide="search">
		<img src="/images/notification.svg" class="header-nav-buttons" ng-click="notificationsMenu = !notificationsMenu">
		<img src="/images/profile.png" class="profile-picture" ng-click="userMenu = !userMenu">
	</div>
</div>
</div>


<make-tags-sticky class="tagholder">
<div class="row white">
	<div class="col-sm-1 col-md-1"></div>
	<div class="col-xs-12 col-sm-11 col-md-10 tags-container">
	<ul class="tags-ul">
		<li><a ui-sref="tags({tag: 'politics'})">Politics</a></li>
		<li><a ui-sref="tags({tag: 'technology'})">Technology</a></li>
		<li><a ui-sref="tags({tag: 'Environment'})">Environment</a></li>
		<li><a ui-sref="tags({tag: 'JavaScript'})">JavaScript</a></li>
		<li><a ui-sref="tags({tag: 'future'})">Future</a></li>
		<li><a ui-sref="tags({tag: 'Angular'})">Angular</a></li>
		<li><a ui-sref="tags({tag: 'food'})">Food</a></li>
	</ul>
	</div>
</div></make-tags-sticky>


<notifications>
<div class="notifications-container" ng-hide="notificationsMenu">
	<div class="notification" ng-repeat="notification in notifications">
		<span class="notification-profile-pic-container">
		<img ng-src="{{notification.profile_pic}}" class="notfication-profile-pic"></span>
		<span class="follower-text">
		<!--{{notification.action_by_userid}} -->
		<a href="#">{{notification.firstname}} {{notification.lastname}}</a> {{notification.action}} 
		<a href="#">{{notification.title}}</a>
		<br>
		<span class="notification-date">{{notification.date | date : 'MMM dd'}}</span>
		</span>
	</div>
</div>
</notifications>


<usermenu>
<div class="user-menu-container" ng-hide="userMenu">
	<div class="menu-section">
		<ul>
			<li><a href="#">New story</li>
			<li><a ui-sref="drafts">Stories</a></li>
			<li><a href="#">Series</li>
			<li><a href="#">Stats</li>
		</ul>
	</div>
	<div class="menu-section">
		<ul>
			<li><a href="#">Bookmarks</li>
			<li><a href="#">Reading history</li>
			<li><a href="#">Publications</li>
			<li><a href="#">Follow your interests</li>
		</ul>
	</div>
	<div class="menu-section">
		<ul>
			<li><a href="#">Profile</li>
			<li><a href="#">Settings</li>
			<li><a href="#">Help</li>
			<li><a href="#">Sign out</li>
		</ul>
	</div>
</div>
</usermenu>
