<div class="story-container" ng-repeat="article in articles">
<div class="col-xs-12 article-tags"></div>

<!--Author Mini-Bio -->
<div class="row">
<div class="col-xs-1">
	<img src="/images/profile.png" class="author-profile-picture">
</div>
<div class="col-xs-10 author-bio" ng-click="test(article.id)">
	<a href="#">{{article.firstname}} {{article.lastname}}</a>
	<br>
	{{article.date_published | date : 'MMM dd'}} &#183; 2 min read
</div>
</div>
<!-- End Author Mini Bio -->
<!--Article Info -->
<h1>{{article.title}}</h1> {{article.id}} {{article.isLiked}}
<img src="/images/first_article.jpeg" class="img-responsive">
<br><br>
<p class="read-more">Read more...</p>

<div class="article-footer">
<div class="article-footer-left">
	<div class="favorite-unclicked" ng-class="{'favorite-clicked':isLikeActive}" ng-click="likeArticle(article.id)">&nbsp;
	<span class="favorite-text"> {{article.likes | number}}</span></div> 
</div>
<span class="article-footer-right">{{article.responses | number}} responses 
<span class="bookmark-unclicked" ng-class="{'bookmark-clicked':isBookmarkActive}" ng-click="bookmarkArticle()">&nbsp;</span>
<img src="images/down-carat.svg" class="down-carat"></span>
</div>
</div>
<!-- End Article Info -->
<!-- End Article -->
