<div class="story-container" ng-repeat="article in articles">
<div class="col-xs-12 article-tags"></div>

<!--Author Mini-Bio -->
<div class="row">
<div class="col-xs-1">
	<img src="/images/profile.png" class="author-profile-picture">
</div>
<div class="col-xs-10 author-bio" ng-click="test(article.id)">
	<a href="#">{{article.firstname}} {{article.lastname}}</a>
	<br>
	{{article.date_published | date : 'MMM dd'}} &#183; 2 min read
</div>
</div>
<!-- End Author Mini Bio -->
<!--Article Info -->
<a ui-sref="article({article_id: {{article.id}}})"><h1> {{article.title}} </h1></a> {{article.id}}
<img src="/images/first_article.jpeg" class="img-responsive">
<br><br>
<p class="read-more">Read more...</p>

<div class="article-footer">
<div class="article-footer-left">
	<like-article id="{{article.id}}" articles="{{articles}}"></like-article>
</div>
<div class="article-footer-right">{{article.responses | number}} responses 
	<bookmark-article id="{{article.id}}" articles="{{articles}}"></bookmark-article>
<!-- <div class="bookmark-unclicked" ng-class="{'bookmark-clicked':article.userBookmarkedArticle}" ng-click="bookmarkArticle(article.id)">&nbsp;</div>
<img src="images/down-carat.svg" class="down-carat">
 --></div>
</div>
</div>
<!-- End Article Info -->
<!-- End Article -->
