<div class="story-container">
<div class="col-xs-12 article-tags"><p class="tag">User Experience</p></div>

<!--Author Mini-Bio -->
<div class="row">
<div class="col-xs-1">
	<img src="/images/directive-header/profile.png" class="author-profile-picture">
</div>
<div class="col-xs-10">
	<a href="#">Quincy Larson</a> in <a href="#">Free Code Camp</a>
	<br>
	Feb 20 &#183; 2 min read
</div>
</div>
<!-- End Author Mini Bio -->

<!--Article Info -->
<h1>I'll never bring my phone on an international flight again. Neither should you.</h1>
<img src="/images/directive-header/first_article.jpeg" class="img-responsive">
<br><br>
<p class="read-more">Read more...</p>

<div class="article-footer">
<div class="article-footer-left">
	<img src="/images/directive-header/favorite.svg" class="favorite"> 8.5k</div>
<div class="article-footer-right">428 responses[icon]</div>
</div>
</div>
<!-- End Article Info -->
<!-- End Article -->