<div class="writer-suggestions scrollable">
<div class="might-like">Writers you might like</div>
<div class="writers-list">
	<div class="writer col-sm-4 col-md-4">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<div class="suggestions-footer">
		<button class="writer-follow-button">Follow</button>
		</div>
	</div>
	<div class="writer col-sm-4 col-md-4">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<div class="suggestions-footer">
		<button class="writer-follow-button">Follow</button>
		</div>
	</div>
	<div class="writer col-sm-4 col-md-4">
		<div class="writer-info">
			<h1>Amy Siskind</h1>
			<p>9.4k followers</p>
		<img src="/images/profile.png" class="writers-list-profile-pic">
		</div>
		<div class="writer-info-bio">
		President and co-founder of The New Agenda. fmr Wall Street Exec.
		</div>
		<div class="writer-top-stories">
			TOP STORIES
			<ol>
				<li><a href="#">Week 9: Experts in authoriatianism advise to</a></li>
				<li><a href="#">Week 10: Experts in cheese</a></li>
			</ol>
		</div>
		<div class="suggestions-footer">
		<button class="writer-follow-button">Follow</button>
		</div>
	</div>
</div>
</div>

<!--End WRiters You Might Like -->